<div class='entry-object list-group-item ribbon-wrapped-object nested-object' id=<%="entry-#{task_entry.id}-object"%>>

  
  <div class='entry-headline col-xs-offset-1'>
    <%= render partial: "shared/ribbon" if task_entry.active? %>

    <a data-target=<%= "\#entry-#{task_entry.id}-details" %> class='list-group-link pointer' data-toggle='collapse'>
      <i class='glyphicon glyphicon-chevron-right toggle-icon'></i>
      <%= task_entry.time_display%>
      <span class='truncated-note'><%= ", #{truncate(task_entry.note, length: 12)}" %></span>
    </a>

  </div>

  <div class='collapse col-xs-offset-1' id=<%= "entry-#{task_entry.id}-details"%>>

      <span class='pull-right'>
        <a href=<%="/task_entries/#{task_entry.id}/edit"%> class='u-link'>
          <i class='glyphicon glyphicon-pencil'></i>
        </a> 
        <a href=<%="/task_entries/#{task_entry.id}"%> data-method="delete" data-confirm="This action is final, please confirm" rel="nofollow" class='d-link'>
          <i class='glyphicon glyphicon-trash'></i>
        </a>
      </span>
      <br>
      <p class='list-group-text'><%= task_entry.note %></p>

  </div>
</div>