<div class='entry-object list-group-item ribbon-object' id=<%="entry-#{task_entry.id}-object"%>>

  <%= render partial: "shared/ribbon" if task_entry.active? %>
  <span class='entry-headline'>

    <a data-target=<%= "\#entry-#{task_entry.id}-details" %> class='list-group-link pointer' data-toggle='collapse'>
      <i class='glyphicon glyphicon-chevron-right toggle-icon'></i>
      <%= task_entry.time_display %>
    </a>

  </span>

  <div class='collapse' id=<%= "entry-#{task_entry.id}-details"%>>

      <span class='pull-right'>
        <a href=<%="/task_entries/#{task_entry.id}/edit"%> class=''>
          <i class='glyphicon glyphicon-pencil'></i>
        </a> 
        <a href=<%="/task_entries/#{task_entry.id}"%> data-method="delete" data-confirm="This action is final, please confirm" rel="nofollow" class=''>
          <i class='glyphicon glyphicon-trash'></i>
        </a>
      </span>
      <br>
      <p class='list-group-text'><%= task_entry.note %></p>

  </div>
</div>