<div class='form-group'>
  <label for='start_date' class='col-xs-1 control-label'>From</label>
  <div class='col-xs-3'>
    <input type='date' class='form-control' name='task_entry[s_date]' value="<%= task_entry.s_date %>"/>
  </div>
  <label for='start_at' class='sr-only'>Start Time</label>
  <div class='col-xs-2'>
    <input type='time' class='form-control' name='task_entry[s_time]' value="<%= task_entry.s_time%>"/>
  </div>

  <label class='col-xs-1 text-muted duration-display' data-duration="<%= task_entry.duration %>">Timer: <%= task_entry.display_duration%></label>
  <input type='text' class='hidden duration-data' name='task_entry[duration]' value="<%= task_entry.duration %>">

  <div class='col-xs-1'>
    <button = type='submit' class='btn timer-start btn-primary start-btn'>Start</button>
  </div>

  <div class='col-xs-1'>
    <button = type='submit' class='btn timer-stop btn-danger stop-btn'>Stop</button>
  </div>
  
</div>    


<div class='form-group'>
  <label for='note' class='control-label col-xs-1'>Note</label>
  <div class='col-xs-11'>
    <textarea class='form-control' rows='3' name='task_entry[note]'><%=task_entry.note%></textarea>
  </div>
</div>
<div class='form-group'>
  <div class='col-xs-1 col-xs-offset-1'>
    <button type='submit' class='btn btn-primary'>Confirm</button>
  </div>
  <div class='col-xs-10'>
    <button type='submit' class='btn btn-default cancel-btn cncl'>Cancel</button>
  </div>
</div>