<div class='task-object' id=<%= "task-#{task.id}-object"%>>

  <span class='list-group-item task-details ribbon-object' id=<%= "task-#{task.id}-details"%>>
    <%= render partial: "shared/ribbon" if task.active? %>

    <a data-target=<%= "\#task-#{task.id}-entries"%> class='list-group-link pointer' data-toggle='collapse'>
      <i class='glyphicon glyphicon-chevron-right toggle-icon'></i>
      <%= task.task_name %>
    </a>

    <span class='cud-buttons pull-right'>
      <a href=<%="/tasks/#{task.id}/task_entries/new"%> class='cud-link hidden'>
        <i class='glyphicon glyphicon-plus'></i>
      </a>
      <a href=<%="/tasks/#{task.id}/edit"%> class='cud-link'>
        <i class='glyphicon glyphicon-pencil'></i>
      </a> 
      <a href=<%="/tasks/#{task.id}"%> data-method="delete" data-confirm="This action is final, please confirm" rel="nofollow" class='cud-link'>
        <i class='glyphicon glyphicon-trash'></i>
      </a>
    </span>
  </span>

  <div class='list-group collapse entries-container' id=<%= "task-#{task.id}-entries"%>>
    <% task.task_entries.each do |task_entry| %>
      <%= render partial: "task_entries/nested_entry", locals:{task_entry: task_entry}%>
    <% end %>
  </div>
</div>