<nav class='navbar navbar-inverse'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <a class='navbar-brand pointer'><%= current_user!.username %></a>
    </div>

    <ul class='nav navbar-nav'>
      <li><%= link_to "My Tasks", user_path(current_user!) %></li>
      <li class='dropdown'>
        <a class='dropdown-toggle pointer' data-toggle='dropdown'>
          Manage Customers<span class='caret'></span>
        </a>
        <ul class='dropdown-menu'>
          <li><%= link_to "New Customer", new_customer_path %></li>
          <li><%= link_to "View Customers", customers_path %></li>
        </ul>
      </li>
      <li class='dropdown'>
        <a class='dropdown-toggle pointer' data-toggle='dropdown'>
          Manage Projects <span class='caret'></span>
        </a>
        <ul class='dropdown-menu'>
          <li><a href="#">add project</a></li>
          <li><a href="#">view projects</a></li>
        </ul>
      </li>
    </ul>
    <ul class='nav navbar-nav navbar-right'>
      <li><%= link_to "My Account", edit_user_path(current_user!) %></li>
      <li><%= link_to "Logout", session_path(current_user!), method: :delete %></li>
    </ul>
  </div>
</nav>