<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <div class='well'>
      <h2><%= @project.project_name %></h2>
    </div>
    <br>
    <p>
      <%= link_to("<< Customer", customer_path(@project.customer)) %> - 
      <%= link_to("Edit Project", edit_project_path(@project)) %> - 
      <%= link_to("New Task", new_project_task_path(@project)) %>
    </p>

    <div class='list-group list-group-root well'>
      <% @project.tasks.each do |task| %>
        <%= render partial: "tasks/nested_task", locals:{task:task}%>
      <% end %>
    </div>
          
  </div>
</div>